<br>
<br>
<br>
<br>
<marquee><h2>Welcome <b>{{userName}} </b></h2>
</marquee>


<div>
    <mat-chip-listbox aria-label="sport Selection">
      <mat-chip-option>Vacation planning</mat-chip-option>
     <mat-chip-option>reading</mat-chip-option>
     <mat-chip-option color="primary"
       selected>movies watching</mat-chip-option>
       <mat-chip-option disabled>Blogging</mat-chip-option>
   </mat-chip-listbox>
 </div>
 <br>
 <mat-divider></mat-divider>
 <div>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar><br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
    <mat-progress-bar mode="buffer"></mat-progress-bar><br>
    <mat-progress-bar mode="query"></mat-progress-bar><br>
 </div>