

<br>
<br>
<br>

<!-- <p>login works!</p>
<mat-grid-list cols="0" rowHeight="700px">
      <mat-grid-tile> -->

        <form [formGroup]="loginForm"   (ngSubmit)="addLoginDetails()">

        <div class="container">
            <h1>Login</h1>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>User Name</mat-label>
            <input formControlName="username" matInput placeholder="User Name">
           <mat-icon matPrefix>person_outline</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Enter password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!this.loginForm.valid">login</button>
          </div>
      </div>
    </form>
   

      <!-- </mat-grid-tile>
    </mat-grid-list> -->
   